<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pi="http://typo3.org/ns/Zeroseven/Pictureino/ViewHelpers"
      data-namespace-typo3-fluid="true">
<head>
    <meta charset="utf-8" />
    <title>Pictureino E2E Test</title>
</head>
<body>
    <h1>Pictureino Test Page</h1>
    <div id="test-image">
        <pi:image src="fileadmin/test-image.jpg" alt="Test Image" class="pi-test" />
    </div>
    <div id="test-image-ratio">
        <pi:image src="fileadmin/test-image.jpg" alt="Test Ratio" class="pi-test-ratio" aspectRatio="16:9" />
    </div>
</body>
</html>
